[submodule "tor/tor-scanner/docker-port-scan"]
	path = tor/tor-scanner/docker-port-scan
	url = https://github.com/bcicen/docker-port-scan.git
[submodule "dns/docker-nodejs-dns-mongodb"]
	path = dns/docker-nodejs-dns-mongodb
	url = https://github.com/marcelmaatkamp/docker-nodejs-dns-mongodb.git
[submodule "dns/docker-nodejs-dns"]
	path = dns/docker-nodejs-dns
	url = https://github.com/marcelmaatkamp/docker-nodejs-dns.git
